.outerContainer{
     background-image: url('../../assets/about/about-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:800px;
}
.container{
    width:60%;
    margin:0 auto;
    text-align: center;
    padding-top: 80px;
}
.header{
    font-size:27px;
    margin-bottom: 40px;
}
.des{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.6);
    width:70%;
    margin:0 auto;
}
.btn button{
    margin-top: 40px;
    font-weight: bold;
    color:white;
    padding: 20px 40px;
    border-radius: 7px;
    border:none;
    background-color: #e3000e;
    cursor:pointer;
}
.btn button:hover{
    background: transparent;
    border:1px solid #e3000e;
    color:#e3000e;
}